<div class="col-md-2 col-md-push-5 col-xs-10 col-xs-push-1" style="position: fixed; z-index: 12;">
  <br>
  <button class="btn btn-primary animated fadeInDown btn-block" type="button" id="refresh" (click)="refresh($event)" *ngIf="newItemsCount">
    You have new friends <span class="badge">{{newItemsCount}}</span>
  </button>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <img src="https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/766fc84e-88ff-439d-9a7b-4cfaa87bcd02.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-md-12">
      <h2>My friends</h2>
      <ul class="list-group">
        <list-item *ngFor="let item of collection" [animationType]="item.animationType">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" width="80" height="80" src="{{item.image}}" alt="{{item.name}}">
              </a>
            </div>
            <div class="media-body">
              <span class="label label-primary pull-right">{{item.id}}</span>
              <h4 class="media-heading">{{item.name}} </h4>
              <p>
                {{item.text}}
              </p>
            </div>
          </div>
        </list-item>
      </ul>
    </div>
  </div>
</div>
